/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #000028;
  --header-footer-title: #db00ff;
  --footer-title-shadow: #ff0070;
  --title-decorated: #ff0070;
  --main-font-family: IBM Plex Mono, monospace, sans-serif;
  --opacity-shadow: 255, 0, 112;
  --rec-visible: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
     --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #000028;
  --header-footer-title: #db00ff;
  --footer-title-shadow: #ff0070;
  --title-decorated: #ff0070;
  --main-font-family: IBM Plex Mono, monospace, sans-serif;
  --opacity-shadow: 255, 0, 112;
  --rec-visible: visible;
  }
}