/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #000028;
  --header-footer-title: #db00ff;
  --footer-title-shadow: #ff0070;
  --title-decorated: #ff0070;
  --main-font-family: IBM Plex Mono, monospace, sans-serif;
  --opacity-shadow: 255, 0, 112;
  --rec-visible: visible;
}
